<div class="container">
	<div class="row">
		<div id="input" class="col-sm-4 card">
			<h3>Enter Destination:</h3>
			<input id="destination" class="form-control" type="text" placeholder="Destination" /><br>
			<input type="button" class="btn btn-primary"id="submit" value="Proceed" (click)="getLatLng()"/>
			<br>
			<h3>Enter Stopover Points:</h3>
			<input type="text" class="form-control" id="place1" placeholder="Enter Stopover" /><br>
			<input type="text" class="form-control" id="place2" placeholder="Enter Stopover" /><br>
			<input type="text" class="form-control" id="place3" placeholder="Enter Stopover" /><br>
			<input type="button" class="btn btn-primary btn-lg" id="path" value="Get Directions" /><br>
			<span style="font-size:10px; text-align:center;">Click proceed to activate this link</span>
			<button *ngIf="latitude==undefined" [routerLink]="['/weather',{lat:latitude,lng:longitude}]" class="btn btn-outline-primary" disabled>Show Destination Weather</button><br>
			<button *ngIf="latitude!=undefined" [routerLink]="['/weather',{lat:latitude,lng:longitude}]" class="btn btn-outline-primary">Show Destination Weather</button><br>
			
			<router-outlet></router-outlet>
		</div>
		<div id="map" class="col-sm-7 card"></div>
	</div>
</div>

