


 
<br>
<div class="row">
	<div class="col-sm-4">
		<img class="img-thumbnail"  *ngIf="desc == 'clear sky'" src="/images/sunny.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'few clouds'" src="/images/clear.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'scattered clouds'" src="/images/cloudy.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'broken clouds'" src="/images/int_clouds.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'shower rain'" src="/images/rain.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'light rain'" src="/images/light_rain.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'thunderstorm'" src="/images/thunderstorms.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'snow'" src="/images/snow.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'mist'" src="/images/fog.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'overcast clouds'" src="/images/int_clouds.gif" />
		<img class="img-thumbnail"  *ngIf="desc == 'haze'" src="/images/haze.gif" />
	</div>
	<div class="col-sm-8">
		<h5>Location:{{ name }},{{ country }}</h5>
		<p class="card-text forecast_data">Temprature: {{ temp }} &#8451;<br>
			Forecast: {{ desc | uppercase }}</p>
	</div>
</div>